* {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  margin: 5px;
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}

.footer {
  background-color: #F1F1F1;
  text-align: left;
  font-size: xx-small;
  padding: 10px;
}

form {
  padding-top: 25px;
  padding-bottom: 10px;
}
.hidden {
  display: none;
}

.error-message {
  color: red;
}